html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url("../image/bg.png") center/cover;
}

.header__top {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item img {
    width: 20px;
}

.nav {
    display: flex;
    column-gap: 23px;
}

.nav__item a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__menu {
    display: flex;
    align-items: center;
    column-gap: 35px;
    height: 70px;
}

.header__phone {
    width: 155px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 2px solid #fff;
    padding-left: 15px;
}

.header__contact {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background-color: #ff7400;
    padding: 0 19px;
    height: 47px;
    border: none;
    cursor: pointer;
}

.header__title {
    font-weight: normal;
    color: #D67E35;
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.header__title h2 {
    width: 500px;
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;

}

.header__title h1 {
    font-size: 80px;
    line-height: 92px;
}

.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 68px;
}

.header__title p::before,
.header__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #c4c4c4;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

.header__main_button {
    margin-left: 135px;
}

.advantages {
    height: 350px;
    display: flex;
    position: relative;
    justify-content: space-evenly;

}

.advantages__item {
    width: 249px;
    height: 228px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adv__logo {


}
.advantages__item h3 b {
    color: #BC9060;
}
.advantages__item h3 {
    color: #2C2C2C;
}
.advantages__item p {
    color: #656363;
    text-align: center;

}